.lesson-sidenav { 
    /* max-height: calc(100vh - 160px);
    overflow-y: auto;  */
    margin-bottom: 20px;
}
.lesson-item { 
    display:flex; 
    gap:8px; 
    padding:8px; 
    padding-left: 40px;
    cursor:pointer; 
    align-items:center 
}
.lesson-item:hover{
    background: #eee;
}
.lesson-item.active { 
    background:#eef; 
}
.lesson-number { 
    display:flex; 
    align-items:center; 
    justify-content:center;  
    font-weight:400 ; 
    gap:10px;}
.lesson-title{
    display:flex; 
    gap:6px;
}