.container{
    position:relative;
    z-index: -3;
    height: 100%;
    width: 100%;
    background-color: rgb(36, 106, 164);
  padding-left: 13vw;
  padding-right: 13vw;
  padding-top: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.step1 {
    margin-top: 30px;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.step2 {
    margin-top: 10px;
        align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.step3 {
        align-items: center;
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.instruct img{
    margin: 0 7vw;
    width: 100%;
    max-width: 20vw;
    height: fit-content;
}

.container-title h2{
    width: 100%;
    text-align: center;
    color:white ;
    margin-top: 20px;
    margin-bottom: 20px;
}

.svg-container {
    position:absolute; /* Keep the SVG in place while scrolling */
    top: 55px;
    left: 45%;
    z-index: -2;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allows clicks to go through to content below */
}
path {
    /* fill: none; */
    stroke: var(--line-color);
    stroke-width: var(--line-width);
    /* These will be manipulated by JavaScript */
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
}
.step-detail{
    max-width: 33vw;
    color: white;
}
.step-detail h3{
    margin-bottom: 10px;
    font-size: 22px;
}
.step-detail p{
    margin-bottom: 5px;
    font-size: 18px;
}
.blink{
    position: absolute;
    z-index: -1;
}
.blink1{
    width: 100%;
    max-width: 5vw;
    top: 25px;
    left: 35%;
}
.blink2{
    width: 100%;
    max-width: 10vw;
    top: 25px;
    right: 30%;
}
.blink3{
    width: 100%;
    max-width: 70vw;
    top:12%;
    left: -30%;
}
.blink4 {
    width: 100%;
    max-width: 40vw;
    top: 50%;
    right: -10%;
}
.blink5{
    width: 100%;
    max-width: 10vw;
    top: 88.5%;
    left:44.8%;
}